.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: calc(31 / 24);
  letter-spacing: 0.03em;
  color: var(--brand-color-left);
  text-decoration: none;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
