.features {
  list-style-type: none;
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  flex-basis: calc((100% - 3 * 30px) / 4);
  list-style-type: none;
  list-style: none;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.features__description {
  display: block;
  font-family: var(--main-font);
  color: var(--contacts-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  width: 270px;
}

.features-list__item-antena::before {
  display: block;
  content: '';
  height: 120px;
  background-image: url(../img/antena.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--team-color-content);
  border-radius: 4px;

  margin-bottom: 30px;
}

.features-list__item-clock::before {
  display: block;
  content: '';
  height: 120px;
  background-image: url(../img/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--team-color-content);
  border-radius: 4px;

  margin-bottom: 30px;
}

.features-list__item-diagram::before {
  display: block;
  content: '';
  height: 120px;
  background-image: url(../img/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--team-color-content);
  border-radius: 4px;

  margin-bottom: 30px;
}

.features-list__item-astronaut::before {
  display: block;
  content: '';
  height: 120px;
  background-image: url(../img/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--team-color-content);
  border-radius: 4px;

  margin-bottom: 30px;
}

.features-list__title {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-transform: uppercase;
  color: var(--brand-color-right);
  margin-bottom: 10px;
}
