.header {
  background: var(--brand-color-fut);
  border: 1px solid #ececec;
}

.header__conteiner {
  position: relative;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
  }
}

.header__logo--black {
  color: var(--main-txt-cl);
}

.header__nav .logo__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__nav {
  display: flex;
  align-items: center;
}
.nav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--brand-color-left);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
  }
}

.nav__link--current {
  color: var(--brand-color-left);
}

.nav__link--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  border-radius: 2px;
  border: transparent;
  background-color: var(--brand-color-left);
  bottom: -3%;
  display: block;
}
.nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    list-style-type: none;
    margin-left: 93px;
    gap: 50px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.nav__item:last-child {
  margin-right: 0;
}

.nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.contact {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
}

.contact__item + .contact__item {
  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-top: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 30px;
    margin-top: 0;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  list-style-type: none;
  margin-left: auto;
  color: var(--contacts-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  &:hover,
  &:focus {
    color: var(--brand-color-left);
  }
}

.contact__link:hover .contacts__icon {
  fill: #188ce8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
}
